  .imagecontainer {
    background-image: url("../img/background.png");
    background-size: cover;
    background-position: center;
    height: fit-content;
    width: 100%;
    padding-top: 100px;
    padding-bottom: 50px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
  }

  html, body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
  }

  .imagecontainer .content h1 {
    font-size: 3rem;
    margin-bottom: 10px;
    text-shadow: 1px 1px 3px rgba(0,0,0,0.5);
  }

  .imagecontainer .content p {
    font-size: 1.2rem;
    margin-bottom: 20px;
    text-shadow: 1px 1px 3px rgba(0,0,0,0.4);
  }

  #searchForm .btn {
    color: #ffa500;
    border-color: #ffa500;
    background-color: transparent;
    transition: all 0.3s ease;
  }

  #searchForm .btn:hover {
    color: white;
    background-color: #e59400;
  }

  .searchbar button:hover {
    background-color: #e59400;
  }

  @media (max-width: 600px) {
    .searchbar {
      min-width: 300px;
      flex-direction: column;
      align-items: center;
    }

    .searchbar input {
      width: 80%;
      margin-bottom: .5em;
    }
  }

  .product-item a{
    text-decoration: none;
    color: inherit;
  }

  .product-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin-top: 20px;
    justify-content: center;
    margin-bottom: 40px;
  }