#header h1 {
    font-size: 24px;
    margin: 0;
}

main {
    padding-top: 74px;
    display: flex;
}

.user-info {
    display: flex;
    align-items: center;
}

.user-info img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
}

.side-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    margin: 10px;
    min-width: 150px;
    height: 100%;
    border: solid 1px #CFD4DD;
    border-radius: 10px;
    box-shadow: 0px 2px 10px 1px rgba(145, 145, 145, 0.568);
}

.side-menu h2 {
    font-size: 22px;
    font-weight: bold;
    margin: 5px auto;
    width: 100%;
    text-align: center;
    color: #205781;
    border-bottom: solid 1px #CFD4DD;
}

.side-menu ul{
    padding-inline-start: 0px;
    list-style: none;
    margin: 10px 0;
    width: 100%;
    text-align: center;
}

.side-menu li {
    margin: 10px 0;
    padding: 5px 0;
    width: fit-content;
    border-bottom: solid 1px #CFD4DD;
}

.side-menu a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
}

.side-menu a:hover {
    color: #ffa500;
}
.side-menu a.active {
    color: #ffa500;
    font-weight: bold;
}

.container {
    margin: 10px 50px;
    width: 100%;
    max-width: none;
    padding: 10px 30px;
}

.sub-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0px;
    border-bottom: solid 1px #CFD4DD;
}

.sub-header h2 {
    font-size: 22px;
    font-weight: bold;
    margin: 5px 0px;
    color: #205781;
}

.sub-header img {
    width: 20px;
    height: 20px;
    margin-right: 5px;
} 

.sub-header a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
}

.add-product {
    display: flex;;
    align-items: center;
}

.product-detail img {
    width: 20px;
    margin: 0px 5px;
    cursor: pointer;
}

.product-detail img:hover {
    box-shadow: 0 0 0 2px #D68500;
}

@media (max-width: 600px) {
    .side-menu {
        display: none;
    }
    main {
        flex-direction: column;
    }
    .container {
        padding: 10px;
    }
    
}